/**
css_constants
*/
:root {
	--custom-color-1: #5d5c61;
	--custom-color-2: #938e94;
	--custom-color-3: #7395ae;
	--custom-color-4: #557a95;
	--custom-color-5: #b1a296;
}

body {
	background: var(--custom-color-1);
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
		sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	color: white;
	justify-content: center;
	height: 100%;
}

p {
    margin: 0px;
    padding: 0px;
}
