.register_main_container {
	height: 100vh;
	width: 100vw;
	background: rgb(59, 77, 116);
	background: radial-gradient(circle, rgba(59, 77, 116, 1) 25%, rgba(85, 122, 149, 1) 100%);
}

.register_widget {
	border-top: 2px solid rgba(255, 255, 255, 0.5);
	border-bottom: 2px solid rgba(255, 255, 255, 0.5);
	width: 100%;
    height: 600px;
	overflow: hidden;
}

.form-group {
    padding: 5px 10px;
    margin-bottom: 5px;
}

.register_center {
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	position: absolute;
	margin: auto;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	justify-content: center;
}

.register_small_text_container {
	width: 50%;
}

.register_big_and_light_text {
	font-weight: 100;
	font-size: 7rem;
	color:white;
}

.register_small_and_light_text {
	font-size: 1rem;
	font-weight: 500;
	color: black;
}

.register_button_group {
	width: 50%;
	margin-top: 30px;
}

.register_my_button {
	background: #3b4d74;
    border: 0px;
}

p {
    margin: 0px;
    padding: 0px;
}

.register_form {
    display: flex;
    flex-direction: row;
}

.form_div {
    margin-right: 20px;
}

.register_header_container{
    margin-bottom: 30px;
}